package-lock=true
loglevel=error
save-exact=true
use-node-version=20.17.0
engine-strict=true

# pnpm specific configuration
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@swc*
public-hoist-pattern[]=*prettier*